* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: antiquewhite;
}

#container {
    border: blue solid 2px;
    display: flex;
    flex-direction: row;
}

.dish {
    border: red solid 2px;
}