* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #354259;
    text-align: center;
}

#container {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}

.dish {
    width: 50%;
    background-color: cornsilk;
    border-radius: 10px;
    font-size: larger;
}

.dish img {
    width: 75%;
    border-radius: 10px;
}

.dish:hover {
    background-color: rgb(96, 96, 96);
    color: white;
}